@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Lobster', cursive; */
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    font-size: 2em;
    color: aliceblue;
    text-decoration: none;
    text-shadow: 3px 3px 3px rgb(0 0 0 / 43%);
    transition: 0.5s;
   
}

header .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(./img/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 43%);
}

header .toggle::before {
    content: 'Menu';
    position: absolute;
    right: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1em;
    padding: 2px 5px;
    background: #fff;
    color: rgb(0, 188, 212);
    /* color:rgb(0 0 0 / 43%); */
}

header .toggle.active {
    background: url(./img/close.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 25px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 43%);
}

header .toggle.active::before {
    content: 'Close';
}

section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100vh;
    z-index: 1;
    backdrop-filter: blur(15px);
    box-shadow: 10px 0 15px rgb(0, 0, 0, 0.1);
    transition: 0.5s;
    transition-delay: 1s;
}

section.active .glass {
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(20px);
    box-shadow: 10px 0 15px rgb(0, 0, 0, 0.5);
    transition-delay: 0s;
}

section .content {
    position: relative;
    z-index: 10;
    text-align: center;
    transition: 0.5s;
    transition-delay: 1s;
}

/* Happiness */
section .content h2 {
    position: relative;
    color: #fff;
    font-size: 10vw;
    line-height: 0.55em;
    font-family: 'Dancing Script', cursive;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

/* crystal */
section .content h2 span {
    color: #111;
    background: #fff;
    padding: 0 10px;
    font-size: 0.2em;
    letter-spacing: 5px;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

/* hide when not active */
section.active .content {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-200px);
    transition-delay: 0.3s;
}

/* social */
section .social {
    /* position: absolute; */
    position: fixed;
    bottom: 40px;
    right: 100px;
    display: flex;
    z-index: 102;
}

section .social li {
     list-style: none;
     margin: 5px;
     transition: 0.5s;
     transition-delay: calc(0.2s * var(--i));
    }
    
section .social li a {
    background: #fff;
    color: #111;
    padding: 0 6px;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}

section .social li a:hover {
    background: #111;
    color: #fff;
    letter-spacing: 5px;
    font-family: sans-serif;
    font-weight: 900;
}

/* hide social */
section.active .social li {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
}

/* navigation */
section .navigation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

section .navigation li {
    list-style: none;
    text-align: center;
    margin: 15px 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    transform: translateX(200px);
    transition-delay: calc(0.2s * var(--i));
}

section.active .navigation li {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    transform: translateX(0px);
    transition-delay: calc(0.2s * var(--i));
}

section .navigation li a {
    color: #111;
    background: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    padding: 4px 10px;
    display: inline-block;
}

section .navigation li a:hover {
    background: #111;
    color: #fff;
    letter-spacing: 5px;
    font-family: sans-serif;
    font-weight: 900;
}

section .navigation li .bigNav {
    opacity: 0;
    position: absolute;
    top: -65px;
    left: -1em;
    transform: translateY(-72px);
    color: #f0f8ff61;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.5);
    font-size: 8em;
    visibility: hidden;
}

section .navigation li .hoverable:not(:hover) + .bigNav {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    display: block;
}

@media (max-width: 991px) {
    header {
        padding: 20px;
    }
    section .social {
        bottom: 20px;
        right: 20px;
    }
    .glass {
        width: 50%;
    }
    section .content h2 {
        font-size: 18vw;
    }
    section .content h2 span {
        font-size: 0.25em;
        letter-spacing: 2px;
        padding: 0 5px;
    }
}


/* ------------------------- */
/* team card */
section.team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section.team::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 70%);
    z-index: 1;
    opacity: 0.5;
}

section.team::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 10% 10%);
    z-index: 1;
    opacity: 0.5;
}

.team-bg {
    position: absolute;
    display: block;
    background: url(/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px);
    width: 100%;
    height: 150vh;
    z-index: 0;
}

.users-container {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.users-container .card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 10px 10px 11px rgb(0 0 0 / 0.65);
    /* box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2); */
    transform-style: preserve-3d; 
    transform: perspective(1000px); 
    transform: translateZ(20px);
}

.users-container .card .details {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}

.users-container .card:hover .details {
    opacity: 1;
    transform: translateY(-35px);
}

.users-container .card .details .imgBx {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 7px 7px rgb(0 0 0 / 52%);
}

.users-container .card .details .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.users-container .card .details .contentBx h3{
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.users-container .card .details .contentBx p{
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 10px;
    text-align: center;
    line-height: 0.1em;
}

.users-container .card .social-icon {
    position: absolute;
    bottom: 50px;
    display: flex;
}

.users-container .card .social-icon li {
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    opacity: 0;
}

.users-container .card:hover .social-icon li {
    transform: translateY(0px);
    opacity: 1;
}

.users-container .card .social-icon li a {
    color: #fff;
    font-size: 24px;
}

footer {
    background: linear-gradient(45deg, #7b1456, #0f0701);
    color: #fff;
    padding: 2em;
}

/* up button */
.up {
    display: block;
    position: fixed;
    z-index: 1000;
    background: #607D8B;
    padding: 1em;
    border-radius: 50%;
    font-weight: bold;
    bottom: 3%;
    cursor: pointer;
    box-shadow: 3px 3px 7px black;
}

.up a {
    text-decoration: none;
    color: #fff;
}

/* parallax */
body {
    background: #0a2a43;
    min-height: 3000px;
}

section .moon {
    position: relative;
    width: 100%;
    height: 150vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 76%;
}

section .moon::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 101;
}

section .moon::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a2a43;
    z-index: 101;
    mix-blend-mode: color;
}

section .moon img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#moon {
    width: 140%;
}

#MoonText {
    position: relative;
    color: #fff;
    font-size: 9em;
    z-index: 1;
}

#road {
    z-index: 2;
}

.loreumBox {
    margin-top: 160vh;
    margin-bottom: 7%;
    display: block;
    z-index: 1;
    padding: 0 5%;
    position: absolute;
    color: #fff;
    font-weight: 200;
    text-align: justify;
}

.loreumBox h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
}

/* ComingSoon - count down */
.ComingSoon {
    background: #ff4e2b;
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
}

.ComingSoon .img1Bx {
    position: relative;
    left: 0;
    width: 800px;
    height: 100%;
    background: url('./img/img.gif');
    background-size: auto;
}

.ComingSoon .countDownBx {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 450px);
}

.ComingSoon .countDownBx h2 {
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 500;
    line-height: 4em;
}

.ComingSoon .countDownBx h2 span {
    font-size: 6rem;
    font-weight: 700;
}

.ComingSoon .countDownBx h2 span i {
    font-style: initial;
    color: gold;
}

.ComingSoon .countDownBx .countDown {
    margin-top: 30px;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ComingSoon .countDownBx .countDown div {
    position: relative;
    width: 100px;
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    font-weight: 500;
    margin: 0 15px;
    margin-top: -25px;
}

.ComingSoon .countDownBx .countDown div::before {
    content: 'text';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 35px;
    color: #fff;
    font-size: 0.35em;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.ComingSoon .countDownBx .countDown div#day::before {
    content: 'Days';
}
.ComingSoon .countDownBx .countDown div#hour::before {
    content: 'Hours';
}
.ComingSoon .countDownBx .countDown div#minute::before {
    content: 'Minutes';
}
.ComingSoon .countDownBx .countDown div#second::before {
    content: 'Seconds';
    color: gold;
}
.ComingSoon .countDownBx .countDown div#second {
    color: gold;
}

@media (max-width: 991px) {
    .ComingSoon .img1Bx {
        display: none;
    }
    .ComingSoon .countDownBx {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .ComingSoon .contentBx h2 {
        font-size: 1.1em;
    }
    .ComingSoon .contentBx .countDown {
        height: 100px;
    }
    .ComingSoon .contentBx .countDown div {
        width: 80px;
        font-size: 2em;
        margin: 0;
        margin-top: -25px;
    }
}

#products {
    justify-content: flex-end !important;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

#products img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
}

#products .watchNav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    /* background: #fff; */
}

#products .watchNav span {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 10px 5px;
    background: #f00;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}

#products .watchNav span.active {
    border: 2px solid #fff;
    box-shadow: 0px 0px 10px aliceblue;
    transform: scale(1.2);
}

#products .watchNav span.one,
#products .watchNav i.one {
    background: #28e651;
}
#products .watchNav span.two,
#products .watchNav i.two {
    background: #ff226d;
}
#products .watchNav span.three,
#products .watchNav i.three {
    background: #2196f3;
}
#products .watchNav span.four,
#products .watchNav i.four {
    background: #d52af3;
}

#products .watchNav span.active + i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    mix-blend-mode: hue;
}